.themebtn {
    font-size: 12px;
    font-weight: normal;
    line-height: 14px;
    color: $white;
    transition: all ease-in-out 0.3s;
    &:hover{
        color: $white;
    }
}


.criptoFilter {
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem 0.75rem;
    gap: 10px;
    font-size: 14px;
    text-transform: capitalize;
    background-color: lighten($theme1, 20);
    & img {
        width: 16px;
        height: 16px;
    }
    &.small-fs {
        display: inline-flex;
        font-size: 12px;
        gap: 6px;
        & img {
            width: 14px;
            height: 14px;
        }
    }
}

