.apexcharts-tooltip-box>div {
    color: $theme1;
    font-size: 12px;
}

.apexcharts-xaxistooltip, .apexcharts-yaxistooltip{
    font-size: 12px;
}

.apexcharts-grid .apexcharts-gridlines-horizontal .apexcharts-gridline{
    stroke: #ffffff26;
}
